.subtitle {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 2rem;
}

.about-hero {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: #fff;
  padding: 5rem 0;
  text-align: center;
  border-radius: 0 0 60px 60px;
}

.about-hero h1 {
  font-size: 3rem;
  margin-bottom: 2rem; /* Add space below the heading */
}

.about-hero .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px; /* Add margin above the hero content */
}

/* Left column with team info */
.about-hero .team-info {
  text-align: left;
  flex: 1;
  padding-right: 40px;
}

.about-hero .team-info h4 {
  text-align: left;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

/* Vertical divider */
.about-hero .divider {
  width: 2px;
  height: 150px;
  background-color: black;
  margin: 0 20px;
}

/* Right column for additional content */
.hero-content .team-mission {
  flex: 1;
  text-align: left;
  width: 10px;
}

.hero-content .team-mission img {
  width: 120px; /* Make the logo smaller */
  height: auto;
  border-radius: 15px; /* Add rounded corners */
  margin-left: 8rem;
}

.about-hero .team-mission h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.about-hero .team-mission p {
  text-align: left;
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-hero .container .hero-content {
    flex-direction: column;
  }
  
  .about-hero .team-info,
  .about-hero .team-mission {
    padding: 0;
    width: 100%;
  }
  
  .about-hero .divider {
    width: 80%;
    height: 2px;
    margin: 20px 0;
  }
}
