.flex-container {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  height: 500px;
}

.flex-container > div {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 5px;
  font-size: 30px;
}

