.search-section {
  background-color: var(--dark-color);
  padding-bottom: 120px;
  padding-top: 120px;
  height: auto;
}

.card-section {
  padding-top: 0px;
  background-color: #f5f5f5;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.center-item h1 {
  font-size: 100px;
  color: var(--white-color);
}
.space-search-bar {
  display: flex;
  gap: 20px;
  width: 50%;
}

.space-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-bar {
  background-color: var(--background-color);
  border: solid;

  border-color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 20px;
  padding: 3px 1.6rem;
  padding-top: 5px;
  font-size: 15px;
  box-shadow: 0px 0px 0px 5px var(--primary-color);
}
.search-bar:hover {
  border-color: var(--dark-color);
}
.find-job-section {
  background-color: var(--background-color);
}

input::placeholder {
  font-size: 20px;
  color: var(--gray-color);
}

.tag-section {
  padding-top: 60px;
  padding-bottom: 50px;
}

.find-job-section-tag {
  padding: 10px 20px;
  border: 0.5px solid var(--dark-color);
  background-color: white;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 500;
  color: var(--dark-color);
  transition: 0.3s;
}
.find-job-section input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .find-job-section-tag {
  background-color: var(--dark-color);
  color: var(--white-color);
  box-shadow: 0px 0px 5px 5px var(--primary-color);
}

input[type="checkbox"]:hover + .find-job-section-tag {
  border-color: lightblue;
}

.company-logo {
  width: 100px;
  height: 100px;
  border: solid;
  border-color: var(--dark-color);
  border-width: 7px;
  border-radius: 20px;
}

.search-btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-align: center;
  font-size: 25px;
}

.search-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
}

.space-card-text {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  font-size: medium;
  height: 170px;
  overflow-y: hidden;
}
.job-card {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 5px 5px 5px var(--gray-color);
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: var(--container-width);
}

.card-text {
  flex: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 150px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.card-footer {
  text-align: right;
}

details {
  margin-bottom: 1rem;
}

summary {
  list-style: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-weight: 600;
  position: relative;
}
.dropdown-content {
  display: flex;
  padding: 1rem 1.5rem;
}

summary::marker {
  display: none;
}

summary::after {
  content: "⌄";
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 768px) {
  .job-card,
  .search-section {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 660px) {
  .search-section {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
  }
  .space-search-bar {
    gap: 20px;
    width: 90%;
  }
  .search-bar{
    height: 30px;
  }

  .center-item h1 {
    font-size: 40px;
  }

  .job-card-header {
    display: block;
    text-align: center;
  }

  .space-card-text {
    display: block;
    height: 370px;
    overflow: scroll;
  }

  .card-text {
    display: blo;
  }

  .search-btn,
  .find-job-section-tag {
    font-size: 15px;
  }

  input::placeholder {
    font-size: 15px;
  }
  .tag-section {
    padding-top: 20px;
  }
  .search-section {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
